#root{
    position: absolute;
}
.screen {
    text-align: center;
    border-top: 3px solid #00b2ff;
    margin-bottom: 30px;
}
.cinema, .orders {
    position: relative;
    display: inline-block;
    float: left;
}

.isBought {
  border: 1px solid #00b2ff;
  border-radius: 3px;
  width: 18px;
  height: 25px;
  display: inline-block;
  text-align: center;
  line-height: 25px;
  margin: 5px;
  color: white;
   background-color: grey;
}

.orders {
    border: 1px solid black 
}


.place {
  border: 1px solid #00b2ff;
  border-radius: 3px;
  width: 18px;
  height: 25px;
  display: inline-block;
  text-align: center;
  line-height: 25px;
  margin: 5px;
  color: white
}

.test {
    background-color: #00b2ff
}
